<a href="https://colab.research.google.com/github/aya077/Ai-diploma-tasks-projects/blob/main/Copy_of_Copy_of_Copy_of_60_python_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
string = input("enter a string : ")
print(len(string))

enter a string : aya
3

In [ ]:
length = 0
for i in string :
  length +=1
print(length)

3

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
string = input("enter a string : ")
first2 = string[0:2]
last2 = string[-2:]
print(first2)
print(last2)

enter a string : hello
he
lo

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:

my_string = input("enter a string : ")
if len(my_string) < 3:
    new_string = my_string
elif my_string[-3:] == 'ing':
    new_string = my_string + 'ly'
else:
    new_string = my_string + 'ing'
print (new_string)

enter a string : hing
hingly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
list = ['pen', 'apple', 'banana']

def longest_word(word):

  longest_word = max(word, key = len)
  return longest_word, len(longest_word)
longest_word(list)

('banana', 6)

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
string1 = input("enter a string: ")
def changestring(string):
  first = string1[-1]
  last = string1[0]
  newstring = first + string1[1:-1] + last
  print(newstring)


print(changestring(string1))

enter a string: hgtf
fgth
None

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
string2= input("enter a string: ")

def oddstring(string):
  newstring2 = ''

  for i in range(len(string2)):
    if i % 2 == 0:
      newstring2 += string2[i]
  return newstring2
print(oddstring(string2))

enter a string: hkjgtrdesijh
hjtdsj

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
string4 = "amr and ahmed are frindes but amr is the tallest"

#result = string4.split(' ')
#print(len(result))

my_list = string4.split()
my_set = set(my_list)
my_dict = {}
for word in my_set:
    my_dict[word] = string4.count(word)
print(my_dict)

{'is': 1, 'the': 1, 'frindes': 1, 'and': 1, 'amr': 2, 'are': 1, 'but': 1, 'tallest': 1, 'ahmed': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
user = input("enter your name: ")
#print(user.upper)
print(user.lower())

enter your name: DFH
dfh

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
string1 = input()
if len(string1) % 4 == 0:
  reverse_string = ''.join(reversed(string1))
  print(reverse_string)

ghjkdliu
uildkjhg

**10- Write a Python program to remove a newline in Python

In [ ]:
string = "\n Hi! \n  ahmed"
newstring = string.replace('\n', '')
print(newstring)

 Hi!   ahmed

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
string = 'hello world'
print(string.startswith('hello'))

True

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
import textwrap
text = '''
As a college student, much of your time will be spent interacting with texts of all types, shapes, sizes, and delivery methods. Sound interesting? Oh, it is. In the following sections, we’ll explore the nature of texts, what they will mean to you, and how to explore and use them effectively.
'''

text1 = textwrap.dedent(text)
wrapped = textwrap.fill(text1, width=50)
final_result = textwrap.indent(wrapped, '+++')
print(final_result)

+++ As a college student, much of your time will be
+++spent interacting with texts of all types, shapes,
+++sizes, and delivery methods. Sound interesting?
+++Oh, it is. In the following sections, we’ll
+++explore the nature of texts, what they will mean
+++to you, and how to explore and use them
+++effectively.

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
d = 1225.55485
print('{:.2f}'.format(d))

1225.55

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
d = -1225.55485
print('{:+.2f}'.format(d))

-1225.55

**15-Write a Python program to display a number with a comma separator

In [ ]:
f = 20000
print('{:,}'.format(f))

20,000

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
string = input ()
#print(''.join(reversed(string)))
string = string[::-1]
print(string)

ghjk
kjhg

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
my_string = input("enter a string ")
my_dict = {}
for letter in my_string:
   my_dict[letter] = my_string.count(letter)


print(my_dict)

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
def RepeatingFunc(myStr):
	char_order = []
	counts = {}

	for c in myStr:
		if c in counts:
			counts[c] += 1
		else:
			counts[c] = 1
			char_order.append(c)
	for c in char_order:
		if counts[c] == 1:
			return c
	return None
print(RepeatingFunc(myStr))

f

**19-Write a Python program to remove spaces from a given string

In [ ]:
string = "hello world"
print(string.replace(" ",""))

helloworld

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
string = input()
def substrings(string):
  str_len = len(string)
  return int(str_len * (str_len + 1) / 2)

print(substrings(string))

dfghu
15

**21-write a Python program to swap first and last element of any list.

In [ ]:
List = [23, 65, 19, 90]
temp = List[0]
List[0] = List[-1]
List[-1] = temp
print(List)

[90, 65, 19, 23]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
List = [23, 65, 19, 90]
temp = List[0]
List[0] = List[2]
List[2] = temp
print(List)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
l8 = [1,2,3,4,5,6]
#print(len(l8))
length = 0
for i in l8:
  length += 1
print(length)

6

**24-write a Python code to find the Maximum number of list of numbers

In [ ]:
l8 = [1,2,3,4,5,6]
print(max(l8))

6

**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
l8 = [1,2,3,4,5,6]
print(min(l8))

1

**26-search for if an elem is existing in list

In [ ]:
l7 = [1,2,3,4,5,6]
i = 4
if i in l7:
  print("exist")
else:
  print("not exist")

exist

**27- clear python list using different ways

In [ ]:
l5 = [1,2,3,5]
#print(l5.clear())
del l5[:]
print(l5)

[]

**28-remove duplicated elements from a list

In [ ]:
l2 = [1,2,1,5,8,5,8,2]
unique_e = list(set(l2))
print(unique_e)

[8, 1, 2, 5]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
values = ['gfg', 3, 'is', 8]
keys = ["name", 'id']

mydict1= dict(zip(keys, values))
mydict2= dict(zip(keys,  values[2:]))
listofdict = [mydict1, mydict2]
print(listofdict)

[{'name': 'gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

**30-write a python program to count unique values inside a list using different ways

In [ ]:
list1 = [1, 2, 3, 5, 5, 6, 6, 7]
count = 0
for i in set(list1):
  count += 1
print(count)

6

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
test_list = [4, 4, 3, 3, 4, 3, 4, 3, 8]
k = 3
elements = []
for i in set(test_list):
  freq = test_list.count(i)
  if freq > 3:
    elements.append(i)
print(elements)

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
l = [1, 2, 3, 4, 5]
l1 = []
for i in range(1, len(l)):
  strogn = max(l[i], l[i-1])
  l1.append(strogn)
for i in l1:

  print(i, end=" ")

2 3 4 5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
list = [1,2,3]
def combination(list):
  for a in range(3):
    for b in range(3):
      for c in range(3):

        if (list[a]!=list[b] and list[b]!=list[c] and list[a]!= list[c]):
          print(list[a],list[b],list[c])
combination([1,2,3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
from itertools import combinations
test_list = [1,2,3]
new_lists = [combinations(test_list, 2)]
index = 0
for i in new_lists:
  index += 1
  print(i)

<itertools.combinations object at 0x7f8b2d5c9e40>

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = []
for i in range(len(List_1)):
  for k in range(len(List_2)):

    Unique_combination.append((List_1[i], List_2[k]))
print(Unique_combination)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
list1 = [1, 1, 2, 3, 4, 5, 1, 2, 1]
element = 1
result = [i for i in list1 if i != element]
print(result)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
R = [list1[i] for i in list2]
print(R)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
 test_list = [(4, 5, 5, 4), (5, 4, 3)]
 K = 5
 N = 3
 result = [i for i in test_list if i.count(K) == N]
 print(result)

[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
def sortarray(array):

  for i in range(len(array[0])):

    #i is the column index

    sortedcolumn = sorted(array, key = lambda x:x[i])
    return sortedcolumn

print(sortarray(array))

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]

In [ ]:
1**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
mydict4 =  {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
#by keys
#dict(sorted(mydict4.items()))
#by values
dict(sorted(mydict4.items(), key= lambda item:item[1]))

{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}


def removeitem(test_dict):
  keys = list(test_dict)

  for k in keys:



    if test_dict[k] > 6:


      del test_dict[k]





      return test_dict



print(removeitem(test_dict1))

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}
dict4 = {}
for i in (dict1,dict2,dict3):
  dict4.update(i)

print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
my_dict1 = {"o":2, "h":8, "l":6, "y":7}
for key,value in my_dict1.items():
  print(key,value)

o 2
h 8
l 6
y 7

**44- Write a Python script to merge two Python dictionaries

In [ ]:
dict1 = {"e":88, "f":66}
dict2 = {"i":8, "o":9}
dict1.update(dict2)
print(dict1)

{'e': 88, 'f': 66, 'i': 8, 'o': 9}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
my_dict = {"g":20, "j":25, "i":58}
print(min(my_dict.values()))
print(max(my_dict.values()))

20
58

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
mydict = {'c1': 'Red', 'c2': 'Green', 'c3':None}
newdict = {key:value for (key, value) in mydict.items() if value is not None}
print(newdict)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
from random import randint
tuple2 = (4, 5, 8, 9)
tuple3 = tuple2[randint(0, len(tuple2)-1)]
print(tuple3)

4

**48-Write a Python program to unpack a tuple into several variables

In [ ]:

tuple1 = (2, 5, 7)
j, k, l = tuple1
print(j,k,l)

2 5 7

**49-Write a Python program to add an item to a tuple

In [ ]:
f = (2, 5, 6, 8, 9, 7)
f1 = f + (4,)
print(f1)

(2, 5, 6, 8, 9, 7, 4)

**50-Write a Python program to convert a tuple to a string

In [ ]:


t5 = ("a", "y", "k")

NEW = ''.join(map(str, t5))
print(NEW)

ayk

**51-Write a Python program to convert a list to a tuple

In [ ]:
t4 =[2, 3, 6, 9, 7]
new1 = tuple(t4)
print(new1)

(2, 3, 6, 9, 7)

**52-Write a Python program to reverse a tuple

In [ ]:
t3 = (2, 3, 8, 9)
result = reversed(t3)
result = tuple(result)
print(result)

(9, 8, 3, 2)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
l1 =[(10,20,40), (40,50,60), (70,80,90)]
new_list = [i[:len(i)-1]+(100,) for i in l1]
print(new_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
t2 = ('p','y','h','o','3','.','0')
new_t = tuple(t2)
print(new_t)

('p', 'y', 'h', 'o', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
t = ((1,2), (5,6), (8,5), (8,9))
temp = sum(map(sum, t))
average = temp / len(t)
print(average)

11.0

**56-Write a Python program to add member(s) to a set.

In [ ]:
S = {"apple", "banana", "cherry"}
S.update(["orange", "pinapple"])

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
s1 = {1,2,3,8,9}
s1.discard(1)
print(s1)

{2, 3, 8, 9}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
s = {1,2,3,4,5,6}
t = {7,8,9,10,11}
# union
print("Union :", s | t)
#intersection
print("Intersection :", s & t)
# difference
print("Difference :", s - t)
# symmetric difference
print("Symmetric difference :", s ^ t)

Union : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
Intersection : set()
Difference : {1, 2, 3, 4, 5, 6}
Symmetric difference : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

,**59-Write a Python program to find the maximum and minimum values in a set,,

In [ ]:
S = {5, 6, 7, 3, 8}
print(max(S))

8

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
lst = [1,5,6,0,8]
K = 6
from itertools import combinations

def findPairs(lst, K):

    return [pair for pair in combinations(lst, 2) if sum(pair) == K]

print(findPairs(lst, K))

[(1, 5), (6, 0)]